span {
    color: goldenrod;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .header {
        /* display: flex; */
        justify-content: center;
        padding-bottom: 2rem;
        
    }
    .header img {
        width: 100%;
    }
    .header-component h3 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 23rem;
        margin-bottom: 2rem;
        font-size: 0.7rem;
    }
    .header-component h2 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 23rem;
        margin-bottom: 2rem;
        /* font-size: 0.7rem; */
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        
    }
    .header img {
        width: 100%;
    }
    .header-component h3 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 30rem;
        margin-bottom: 2rem;
        font-size: 0.9rem;
    }
    .header-component h2 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 30rem;
        margin-bottom: 2rem;
        /* font-size: 0.7rem; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        /* display: flex; */
        justify-content: center;
        padding-bottom: 2rem;
        
    }
    .header img {
        width: 100%;
    }
    .header-component h3 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 30rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .header-component h2 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 30rem;
        margin-bottom: 2rem;
        /* font-size: 0.7rem; */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        /* display: flex; */
        justify-content: center;
        padding-bottom: 2rem;
        
    }
    .header img {
        max-width: 100%;
    }
    .header-component h3 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 35rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .header-component h2 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 35rem;
        margin-bottom: 2rem;
        /* font-size: 0.7rem; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        /* display: flex; */
        justify-content: center;
        padding-bottom: 2rem;
        
    }
    .header img {
        width: 60rem;
    }
    .header-component h3 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 40rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }
    .header-component h2 {
        margin: auto;
        color: grey;
        text-align: center;
        width: 40rem;
        margin-bottom: 2rem;
        /* font-size: 0.7rem; */
    }
}

